body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5;
    background-image: url('C:\Users\USER\OneDrive - Botswana Accountancy College\Desktop\personal-profile\images\background_1.jpg');
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;

}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #0f0f0f;
    text-decoration-color: #f5f5f5;
}

#about {
    border: 1px solid #050505;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
}

#skills {
    border: 1px transparent #050505;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
}

#education {
    border: 1px solid #050505;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
}

#contact {
    border: 1px solid #050505;
    padding: 20px;
    border-radius: 5px;
    background-color: #0f0f0f;
    color: #f5f5f5;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
    text-decoration: underline;
}

h5 {
    text-decoration: underline;
}

li {
    list-style-type: none;
    margin-bottom: 10px;

}

#skills h3 {
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.side-note {
    font-style: italic;
    margin-top: 5px;
    font-size: 12px;
    color: #777777;
}

section {
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

